/**
 * Custom styles for demo
 */

html {
	padding: 1em;
	color: #222;
	text-align: center;
}

.content {
	background: #eee;
	text-align: center;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	margin-top: 15%;
	line-height: 1.4em;
}

h1 {
	font-size: 2em;
	margin-top: 20px;
}

h3 {
	font-size: 1.5em;
}
