

html {
	max-width: 940px;
	padding: 1em;
	margin: 0 auto;
	color: #222;
}

.content {
	background: #eee;
	text-align: center;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	margin-top: 15%;
	line-height: 1.4em;
}

h3 {
	font-size: 1.5em;
}
